{% if photos %}
<h2>Here are your photos</h2>
<ul>
  {% for photo in photos %}
    <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width='600' />
    <li>{{photo[2]}}<br>
    <a href='/like?photoID={{photo[1]}}'>LIKE</a><br>
    <a href='/viewLikes?photoID={{photo[1]}}'>View Likes</a><br>
    <a href='/comments?photoID={{photo[1]}}'>Comment</a><br>
    <a href='/tag?photoID={{photo[1]}}'>Tags!</a><br>

  </li>
  {% endfor %}
</ul>
{% endif %}
<li><a href='/Photo'>Photo Management</a></li>
<li><a href='/'>Home</a></li>